body {
  background-color: #ECF0F1;
}

.navbar {
  background-color: #34495E;
  overflow: hidden;
  height: 50px;
}

.open-slide {
  font-size: 28px;
}

.open-slide a {
  color: #FFFFFF;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111111;
  opacity: 0.90;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #CCCCCC;
  display: block;
  transition: 0.25s;
}

.side-nav a:hover {
  color: #FFFFFF;
}

.side-nav .btn-close {
  font-size: 36px;
  margin-left: 180px;
}

#signin {
  font-family: 'Poppins', Sans-Serif;
}

#signin a {
  color: #FFFFFF;
}

.jumbotron {
  background-color: #2C3E50 !important;
  text-align: center;
  border-radius: 0;
  margin-bottom: 0;
}

.jumbotron .display-4 {
  font-family: 'Pacifico', Cursive;
  color: #E74C3C;
}

.jumbotron .lead {
  color: #E74C3C;
  font-size: 36px;
}

.search-box {
  text-align: center;
  padding: 10px;
  background-color: #E74C3C;
  font-family: 'Poppins', Sans-Serif;
  font-size: 22px;
}

input[type=text] {
  height: 50px;
  width: 225px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  text-align: center;
  border-radius: 5px;
}

/* Change width to 100% on focus. */
input[type=text]:focus {
    width: 100%;
}
